<div ng-controller="CriteriaCtrl">

<!--<div class="col-lg-5"  ng-style="{'background-image': 'url(images/temp-DeleteMe.jpg)'}">-->
    <div class="container-fluid" ng-style="{'background-image': 'url(images/ivy.png)'}">

        <h3>Criteria:</h3>

        <form role="form">

            <div class="col-lg-6">

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div data-ng-class="{ 'panel-heading': 1, 'enabled': myForm.schoolSize.enabled }">
                            <div class="panel-title pull-left">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSchoolSize">
                                    School Size
                                </a>
                            </div>
                            <div class="panel-title pull-right" ng-show="myForm.schoolSize.enabled">Active</div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="collapseSchoolSize" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-7">Schools must have these many people attending:</div>
                                <div class="col-md-5">
                                    Select as many options as you'd like <br>(Ctrl click to select multiple).
                                    <select size="5" class="form-control"
                                            multiple="true"
                                            data-ng-model="myForm.schoolSize.options"
                                            data-ng-options="s.name for s in sizes track by s.id">
                                    </select>
                                    <!--<select class="form-control" size="5" multiple  id="sizeSchool" data-ng-model="myForm.schoolSize.options">-->
                                        <!--<option value="1">Under 1,000</option>-->
                                        <!--<option value="2">1,000 - 4,999</option>-->
                                        <!--<option value="3">5,000 - 9,999</option>-->
                                        <!--<option value="4">10,000 - 19,999</option>-->
                                        <!--<option value="5">20,000 and above</option>-->
                                    <!--</select>-->
                                </div>
                                <button class="btn btn-primary btn-md" data-ng-click="saveIt(myForm.schoolSize, 'schoolSize')">Save/Activate</button>
                                <button class="btn btn-primary btn-md" data-ng-click="resetIt(myForm.schoolSize, 'schoolSize')">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div data-ng-class="{ 'panel-heading': 1, 'enabled': myForm.schoolCost.enabled }">
                            <div class="panel-title pull-left">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseAnnlCost">
                                    Annual Cost
                                </a>
                            </div>
                            <div class="panel-title pull-right" ng-show="myForm.schoolCost.enabled">Active</div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="collapseAnnlCost" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                    <div class="col-md-6">Minimum</div>
                                    <div class="col-md-6">Maximum</div>
                                </div>
                                <div class="col-md-7">Average Annual Cost (Room and Board):</div>
                                <div class="col-md-5">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-model="myForm.schoolCost.min">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-model="myForm.schoolCost.max">
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-md" data-ng-click="saveIt(myForm.schoolCost, 'schoolCost')">Save/Activate</button>
                                <button class="btn btn-primary btn-md" data-ng-click="resetIt(myForm.schoolCost, 'schoolCost')">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div data-ng-class="{ 'panel-heading': 1, 'enabled': myForm.schoolSetting.enabled }">
                            <div class="panel-title pull-left">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseLocale">
                                    School Setting/Locale
                                </a>
                            </div>
                            <div class="panel-title pull-right" ng-show="myForm.schoolSetting.enabled">Active</div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="collapseLocale" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-7">Schools must be located in these types of areas:</div>
                                <div class="col-md-5">
                                    Select as many options as you'd like <br>(Ctrl click to select multiple).
                                    <select class="form-control"
                                            multiple="true"
                                            data-ng-model="myForm.schoolSetting.options"
                                            data-ng-options="l.name for l in locales track by l.id">
                                    </select>
                                </div>
                                <button class="btn btn-primary btn-md" data-ng-click="saveIt(myForm.schoolSetting, 'schoolSetting')">Save/Activate</button>
                                <button class="btn btn-primary btn-md" data-ng-click="resetIt(myForm.schoolSetting, 'schoolSetting')">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div data-ng-class="{ 'panel-heading': 1, 'enabled': myForm.testScore.enabled }">
                            <div class="panel-title pull-left">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseScores">
                                    SAT/ACT Scores
                                </a>
                            </div>
                            <div class="panel-title pull-right" ng-show="myForm.testScore.enabled">Active</div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="collapseScores" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                    <div class="col-md-6">SAT</div>
                                    <div class="col-md-6">ACT</div>
                                </div>
                                <div class="col-md-7">Enter your scores (if applicable):</div>
                                <div class="col-md-5">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-model="myForm.testScore.SAT">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-model="myForm.testScore.ACT">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <div class="col-md-7">My scores should be:</div>
                                <div class="col-md-5">
                                    <select class="form-control" multiple  id="filterTestScores" data-ng-model="myForm.testScore.options">
                                        <option value="worst">The lowest in the school</option>
                                        <option value="average">Average for those attending</option>
                                        <option value="best">The best in the school</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary btn-md" data-ng-click="saveIt(myForm.testScore, 'testScore')">Save/Activate</button>
                                <button class="btn btn-primary btn-md" data-ng-click="resetIt(myForm.testScore, 'testScore')">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div data-ng-class="{ 'panel-heading': 1, 'enabled': myForm.home.enabled }">
                            <div class="panel-title pull-left">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseDistance1">
                                    Distance from Home
                                </a>
                            </div>
                            <div class="panel-title pull-right" ng-show="myForm.home.enabled">Active</div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="collapseDistance1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-7">My home zip code:</div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" data-ng-model="myForm.home.zipCode">
                                </div>

                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                    <div class="col-md-6">Minimum</div>
                                    <div class="col-md-6">Maximum</div>
                                </div>
                                <div class="col-md-7">School distance from home:</div>
                                <div class="col-md-5">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-model="myForm.home.minDistanceAway">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-model="myForm.home.maxDistanceAway">
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-md" data-ng-click="saveIt(myForm.home, 'home')">Save/Activate</button>
                                <button class="btn btn-primary btn-md" data-ng-click="resetIt(myForm.home, 'home')">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div data-ng-class="{ 'panel-heading': 1, 'enabled': myForm.loc2.enabled }">
                            <div class="panel-title pull-left">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseDistance2">
                                    Distance from Another Location
                                </a>
                            </div>
                            <div class="panel-title pull-right" ng-show="myForm.loc2.enabled">Active</div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="collapseDistance2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    You can use this to add another location. For example, you'd consider schools in Washington, DC even though it's further away from your home than you'd typically allow.
                                </div>
                                <div class="col-md-7">Zip code:</div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" data-ng-model="myForm.loc2.zipCode">
                                </div>

                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                    <div class="col-md-6">Minimum</div>
                                    <div class="col-md-6">Maximum</div>
                                </div>
                                <div class="col-md-7">School distance from zip code:</div>
                                <div class="col-md-5">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-model="myForm.loc2.minDistanceAway">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-model="myForm.loc2.maxDistanceAway">
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-md" data-ng-click="saveIt(myForm.loc2, 'loc2')">Save/Activate</button>
                                <button class="btn btn-primary btn-md" data-ng-click="resetIt(myForm.loc2, 'loc2')">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div data-ng-class="{ 'panel-heading': 1, 'enabled': myForm.sports.enabled }">
                            <div class="panel-title pull-left">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSports">
                                    Sports Teams
                                </a>
                            </div>
                            <div class="panel-title pull-right" ng-show="myForm.sports.enabled">Active</div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="collapseSports" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="col-md-7">School must have these sports:</div>
                                <div class="col-md-5">
                                    Select as many options as you'd like <br>(Ctrl click to select multiple).
                                    <select size="10" class="form-control"
                                            multiple="true"
                                            data-ng-model="myForm.sports.options"
                                            data-ng-options="s.name for s in sports track by s.id">
                                    </select>
                                </div>
                                <button class="btn btn-primary btn-md" data-ng-click="saveIt(myForm.sports, 'sports')">Save/Activate</button>
                                <button class="btn btn-primary btn-md" data-ng-click="resetIt(myForm.sports, 'sports')">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--<div class="col-lg-5"  ng-style="{'background-image': 'url(images/temp-DeleteMe.jpg)'}">-->
            <div class="col-lg-6">
                <h1>Schools Meeting Criteria:</h1>
                <!--<div id="odometer" class="odometer">{{collegeCount.count}}</div>-->
                <div class="odometer" odometer="visitors" odometer-options="{theme: 'digital', duration: 3000}">{{collegeCount.count}}</div>
                <a href="#/collegelist" class="btn btn-info" role="button">Show me the schools</a>
                <br><br>
                <img src="images/temp-DeleteMe.jpg"/>

            </div>

        </form>

                <!--<option value="Academics">Academic Rating</option>-->
                <!--<option value="Social">Social Rating</option>-->
                <!--<option value="QOL">Quality of Life Rating</option>-->

    </div>
</div>