
<div data-ng-controller="PlantripCtrl">


    <!-- MY TRIPS -->
    <!-- MY TRIPS -->
    <!-- MY TRIPS -->
    <div class="col-lg-6 col-md-6 col-xs-12 col-lg-offset-3 col-md-offset-3"  ng-show="tripListShow">
        <div class="panel panel-default">
            <div class="panel-heading">My Trips</div>
            <div class="panel-body">


                <table st-table="trips" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Trip Name</th>
                        <th>From</th>
                        <th>To</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="trip in trips">
                        <td>{{trip.name}}</td>
                        <td>{{trip.from}}</td>
                        <td>{{trip.to}}</td>
                        <td><button class="btn btn-xs btn-primary" data-ng-click="getTripDetails(trip)">Get Trip Info</button></td>
                        <td><span class="glyphicon glyphicon-trash" ng-click="deleteTrip(trip)"></span></td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-xs btn-primary" data-ng-click="addTripShow=!addTripShow">Add a Trip</button>


                <!-- ADD TRIP -->
                <!-- ADD TRIP -->
                <!-- ADD TRIP -->
                <div class="col-md-12" ng-show="addTripShow">

                    <form role="form">
                        <div class="form-group">
                            <label for="tripName">Trip Name</label>
                            <input type="input" class="form-control" id="tripName" data-ng-model="trip.name" placeholder="Enter a Name for your trip">
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" ng-model="roundTrip" type="checkbox"> Round Trip
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tripStart">Starting Point</label>
                            <input type="input" class="form-control" id="tripStart" data-ng-model="trip.startingPoint" placeholder="Enter starting address or city">
                        </div>
                        <div class="form-group">
                            <label for="tripEnd">Ending Point</label>
                            <input type="input" class="form-control" id="tripEnd" data-ng-model="trip.endingPoint" placeholder="Enter an ending address or city">
                        </div>
                        <div class="form-group">
                            <!--<label for="tripCollege">Select Colleges (You'll be able to add more later)</label>-->
                            <label>Select Colleges (You'll be able to add more later)</label>
                            <select size="5" class="form-control"
                                    multiple="true"
                                    id="collegePicked"
                                    data-ng-model="trip.pickedCollege"
                                    data-ng-options="clg.name for clg in colleges track by clg.schoolID">
                            </select>
                        </div>
                        <button class="btn btn-primary" data-ng-click="addTrip(trip)">Add Trip</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- TRIP INFO -->
    <!-- TRIP INFO -->
    <!-- TRIP INFO -->
    <div class="col-lg-12 col-md-12 col-xs-12" ng-show="tripPlanningShow">
    <!--<div class="col-lg-12 col-md-12 col-xs-12" ng-if="tripPlanningShow">-->
        <div class="panel panel-default">
            <div class="panel-heading">Trip Planning</div>
            <div class="panel-body">

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Current Info</div>
                        <div class="panel-body">
                            START: {{startAddress}}
                            <br><strong>Colleges that we'll visit:</strong><br>
                            <div data-ng-repeat="waypoint in tripWaypoints | orderBy:'name' ">
                                    <span class="glyphicon glyphicon-minus-sign"  ng-click="deleteCollegeFromTrip(waypoint)"></span>
                                    {{waypoint.name}}
                            </div>
                            END: {{endAddress}}
                        </div>
                    </div>
                    <button class="btn btn-xs btn-primary" data-ng-click="addCollegeShow=!addCollegeShow">Add More Colleges To Trip</button>
                    <button class="btn btn-xs btn-primary" data-ng-click="tripListShow=!tripListShow">HACK FIXME ShowTripList</button>

                    <div data-ng-show="addCollegeShow">
                        <div class="panel panel-default">
                            <div class="panel-heading">Other Colleges</div>
                            <div class="panel-body">
                                <table st-table="displayedColleges" class="table table-striped">
                                    <tbody>
                                    <tr ng-repeat="college in colleges | filter:{showMe: 'True'}">
                                        <td>
                                            <span class="glyphicon glyphicon-plus-sign"  ng-click="addCollegeToTrip(college)"></span>
                                        </td>
                                        <td>
                                            {{college.name}}
                                        </td>
                                        <td>
                                            {{college.distance}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="col-md-9">
                        <ui-gmap-google-map
                                id="map-canvas"
                                center="map.center"
                                zoom="map.zoom"
                                draggable="true"
                                options="map.options"
                                control="map.control"
                                >
                        </ui-gmap-google-map>
                    </div>
                    <div class="col-md-3" id="directions-panel">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
